<% if @season && @season.errors.size > 0 %>
  <div class="alert alert-danger alert-dismissible", role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= error_messages_for(@season) %>
  </div>
<% end %>

<div id="form">
  <div class="form-group">
    <%= f.label :show_id, "Show" %><br>
    <%= f.select(:show_id, @shows.map { |s| [s.name, s.id] }) %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.select(:position, 1..@season_count) %>
  </div>
  <div class="form-group">
    <%= f.label :permalink %><br>
    <%= f.text_field :permalink %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
