<h2>Listing <%= pluralize(@show.seasons.size, 'season') %> of <%= @show.name %></h2>

<%= link_to("<< Back to Shows", {:controller => 'shows', :action => 'index'}, :class => 'back') %>
<%= link_to 'Add New Season', {:action => 'new', :show_id => @show.id}, :class => 'new' %>

<table class="listing">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.position %></td>
        <td><%= truncate(season.name, length: 45) %></td>
        <td><%= truncate(season.permalink, length: 20) %></td>
        <td><%= season.visible ? "Yes" : "No" %></td>
        <td>
            <%= link_to("View Episodes", {:controller => 'episodes', :season_id => season.id}) %>
            <%= link_to 'Edit', {:action => 'edit', :id => season.id, :show_id => @show.id } %>
            <%= link_to("Delete", {:action => 'delete', :id => season.id, :show_id => @show.id}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
