<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @season.show.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @season.position %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @season.permalink %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @season.visible %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
