<p>
  <strong>Show:</strong>
  <%= @season.show.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @season.position %>
</p>

<p>
  <strong>Permalink:</strong>
  <%= @season.permalink %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @season.visible %>
</p>