<h2>Listing <%= pluralize(@admins.count, 'admin') %></h2>

<%= link_to '<< Back to Admin Panel', 'admin', :class => 'back' %>
<%= link_to 'Add New Admin', {:action => 'new'}, :class => 'new' %>

<table id="admins" class="listing">
  <thead>
    <tr>
      <th>Email</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= truncate(admin.email, length: 20) %></td>
        <td>
            <%= link_to 'Edit', {:action => 'edit', :id => admin.id} %>
            <%= link_to 'Destroy', {:action => 'delete', :id => admin.id} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>