<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to '+ Add New Admin', {:action => 'new'}, :class => "btn btn-default" %>
  </div>
  <div class="panel-heading">Listing <%= pluralize(@admins.count, 'admin') %></div>
<table id="admins" class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= truncate(admin.email, length: 20) %></td>
        <td>
        <div class="btn-group">
            <%= link_to 'Edit', {:action => 'edit', :id => admin.id}, :class => "btn btn-default"  %>
            <%= link_to 'Destroy', {:action => 'delete', :id => admin.id}, :class => "btn btn-default"  %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>