<% if @episode && @episode.errors.size > 0 %>
  <div class="alert alert-danger", role="alert">
    <%= error_messages_for(@episode) %>
  </div>
<% end %>

<div id="form">
  <div class="form-group">
    <%= f.label :season_id, "Season" %><br>
    <%= f.select(:season_id, @seasons.map { |s| [s.name, s.id] }) %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.select(:position, 1..@episode_count) %>
  </div>
  <div class="form-group">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="form-group">
    <%= f.label :embed_code %><br>
    <%= f.text_area :embed_code %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>