<div id="error_message">
  <%= error_messages_for(@episode) %>
</div>
<div id="form">
  <div class="field">
    <%= f.label :season_id, "Season" %><br>
    <%= f.select(:season_id, @seasons.map { |s| [s.name, s.id] }) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.select(:position, 1..@episode_count) %>
  </div>
  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>