<h2>Listing <%= pluralize(@season.episodes.size, 'episode')%> of "<%= @season.name %>"</h2>

<%= link_to("<< Back to Seasons", {:controller => 'seasons', :action => 'index', :show_id => @season.show_id}, :class => 'back') %>
<%= link_to("Add New Episode", {:action => 'new', :season_id => @season.id}, :class => 'new') %>

<table class="listing">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Visible</th>
      <th>Content Type</th>
      <th>Description</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.position %></td>
        <td><%= episode.name %></td>
        <td><%= episode.visible ? "Yes" : "No" %></td>
        <td><%= episode.content_type %></td>
        <td><%= truncate(episode.description, length: 17) %></td>
        <td><%= link_to("View Details", {:action => 'show', :id => episode.id, :season_id => @season.id}) %>
          <%= link_to("Edit", {:action => 'edit', :id => episode.id, :season_id => @season.id}) %>
          <%= link_to("Delete", {:action => 'delete', :id => episode.id, :season_id => @season.id}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>