
<%= link_to("<< Back to Season", {:action => 'index', :season_id => @season.id}, :class => 'back') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @episode.season_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @episode.position %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @episode.visible %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @episode.content_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @episode.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= @episode.description %>
</p>
