<% if @show.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

    <ul>
    <% @show.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@show) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.select(:position, 1..@show_count) %>
  </div>
  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
