<% if @show && @show.errors.size > 0 %>
<div class="alert alert-danger", role="alert">
  <%= error_messages_for(@show) %>
</div>
<% end %>

<div id="form">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :position %><br>
    <%= f.select(:position, 1..@show_count) %>
  </div>
  <div class="form-group">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  <div class="submit">
  <%= f.submit %>
  </div>
</div>