<% @page_title = "Shows" %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to '+ Add New Show', {:action => 'new'}, :class => "btn btn-default" %>
  </div>
<div class="panel-heading">Listing <%= pluralize(@shows.size, 'show') %></div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Visible</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.position %></td>
        <td><%= show.name %></td>
        <td><%= show.visible ? "Yes" : "No" %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'View Seasons', {:controller => 'seasons', :show_id => show.id}, :class => "btn btn-default" %>
            <%= link_to 'Edit', {:action => 'edit', :id => show.id}, :class => "btn btn-default" %>
            <%= link_to 'Destroy', {:action => 'delete', :id => show.id}, :class => "btn btn-default" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>