<h2>Listing <%= pluralize(@shows.size, 'show') %></h2>

<%= link_to '<< Back to Admin Panel', 'admin', :class => 'back' %>
<%= link_to 'Add New Show', {:action => 'new'}, :class => 'new' %>

<table id="shows" class="listing">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Visible</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.position %></td>
        <td><%= show.name %></td>
        <td><%= show.visible ? "Yes" : "No" %></td>
        <td>
            <%= link_to 'View Seasons', {:controller => 'seasons', :show_id => show.id} %>
            <%= link_to 'Edit', {:action => 'edit', :id => show.id} %>
            <%= link_to 'Destroy', {:action => 'delete', :id => show.id} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>