<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @show.position %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @show.visible %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
