<% @page_title = @season.show.name + " - " + @season.name %>
<h2 id="season-header"><%= @season.show.name %> - <%= @season.name %></h2>
 <hr />
<% @season.episodes.visible.sorted.each do |episode| %>
<div class="episode">
  <h3 id="episode-header"><%= episode.name %></h3>
  <div class="episode-video">
    <p> <%= raw(sanitize(episode.embed_code, :tags => ['iframe', 'a'])) %></p>
  </div>
  <div class="episode-description embed-responsive-item">
    <p><strong>Description:</strong></p>
    <p style="white-space:pre-wrap;"><%= episode.description %></p>
  </div>
  <div class="cf"></div>
  <hr />
</div>
<% end %>