<!DOCTYPE html>
<html>
<head>
  <title>YouTube CMS Lite</title>
  <%= stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'public', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
       <nav class="navbar navbar-default" role="navigation">
        <%= render(:partial => 'layouts/navbar', :locals => {:shows => @shows}) %>
        </nav>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
